
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
<title>Travel Assistant</title>
	
	<!-- Meta tag Keywords -->
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
		
		
	</script>
	<!--// Meta tag Keywords -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- pop up box -->
	<link href="{%static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop up box -->
	<link rel = "stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.desoslide.css' %}">

	<!-- css files -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{%static 'css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
	<!-- web-fonts -->
	<!-- <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet"> -->
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<div class="row header-top">
			<div class="col-md-5 top-left p-0">
				<p><i class="fa fa-phone" aria-hidden="true"></i> Reach us here : +91 926-532-4087 </p>
			</div>
			<div class="col-md-7 top-right p-0">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fruit Salad Technologies Pvt. Ltd., Gujarat, India.
			</div>
		</div>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<h1><a class="navbar-brand" href="/planning/home/">ESCAPE PLAN</a></h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/planning/home/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/planning/about/">Meet Our Team</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="services.html">Services</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="/planning/myplans/">My Itineraries </a>
					</li>
					
					<li class="nav-item active">
						<a class="nav-link" href="/planning/contact/">Get in touch</a>
					</li>
					{%if request.session.username %}
					<li class="nav-item pr-lg-0">
						<div class="btn-group">				
							<button type="button" class="btn btn-outline-light dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 ><b>{{request.session.username}}</b></button>
						
							<div class="dropdown-menu"> 
								<a class="dropdown-item" href="/planning/logout/">Log Out</a> 
								
    
								
								
									
							</div>
						</div>
						
					</li>
					{%else%}
					<li class="nav-item pr-lg-0">
						<div class="btn-group">				
							<button type="button" class="btn btn-outline-light dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 ><b>Sign In</b></button>
						
							<div class="dropdown-menu"> 
								<a class="dropdown-item" href="/planning/login/">Log In</a> 
								<div class="dropdown-divider"></div>
    
								<a class="dropdown-item" href="/planning/signup/">Don't have an account ?</a>
								
									
							</div>
						</div>
						
					</li>
					{%endif%}
				</ul>
			</div>
		  
		</nav>
	</div>
</header>
<!--Header-->


<!-- inner page banner --> 	
<div class="innerpage-banner">
	<div class="layer1">
	</div>
</div>
<!-- //inner page banner --> 	
		
<!-- contact -->
<section class="w3ls-section contact py-5">
	<div class="container py-sm-3">
		<div class="w3ls-title">
			<h2 class="heading text-center mb-sm-5 mb-4">Get in touch</h2>
		</div>
		<div class="w3ls_map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48306.05339877067!2d-74.245183970742!3d40.825144655510556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2555646a723a1%3A0x449f3366d017b214!2sMontclair%2C+NJ%2C+USA!5e0!3m2!1sen!2sin!4v1465991700675"></iframe>
		</div>

		<div class="row contact_wthreerow agileits-w3layouts">
		
			<div class="col-lg-5 col-md-6 agileits_w3layouts_contact_gridl">
				<div class="agileits_mail_grid_right_grid">
					<h4>Contact Address</h4>
					<ul class="contact_info">
						<li><span class="fa fa-map-marker" aria-hidden="true"></span>Fruit Salad Travel Agency, Gujarat, India.</li>
						<li><span class="fa fa-envelope" aria-hidden="true"></span><a href="mailto:info@example.com">fstech@gmail.com</a></li>
						<li><span class="fa fa-phone" aria-hidden="true"></span>(+91) 8490071219</li>
						<li><span class="fa fa-globe" aria-hidden="true"></span><a href="#">escapePlans.com</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 col-md-6 mt-md-0 mt-5 w3l_contact_form">
				<h4>Contact Form</h4>
				<form action="#" method="post">
					<input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}"
						required="">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"
						required="">
					<input type="text" name="Phone" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"
						required="">
					<textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</section>
<!-- //contact -->
	

<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- start-smoth-scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->
<!-- footer -->
<footer class="py-5">
	<div class="container py-md-3">
		<div class="row footer-grids pb-md-5 pb-3">	
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-phone"></i>+91 926 532 4087</a>
			</div>
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-envelope"></i>fstech@gmail.com</a>
			</div>
			<!-- <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-skype"></i>Skype Call</a>
			</div> -->
			<div class="col-md-4 col-sm-4 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-comment"></i>Talk In-Person</a>
			</div>
		</div>
		
		<div class="subscribe-grid text-center">
			<p class="para three mt-4"> Everyone has a dream place to visit once in life, and many get the chance to fulfill their dream trip. 
				Give us the oppurtunity to check your Bucket List one after another, and your soul will be satisfied. </p>
			<h5>Even hell is worth a visit ;</h5>
			<p>Time to get away</p>
			
		</div>
	</div>
</footer>
<!-- //footer -->
<section class="copyright py-4 text-center">
	<div class="container">
		<p>Copyright © 2020 Escape Plan. All Rights Reserved | Design by <a href="#" target="=_blank"> Fruit Salad Technologies Pvt. Ltd. </a></p>
	</div>
</section>



</body>
</html>