
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
<title>Travel Assistant</title>
	
	<!-- Meta tag Keywords -->
	
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
		
		
	</script>
	<!--// Meta tag Keywords -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<!-- pop up box -->
	<link href="{%static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
	<!-- //pop up box -->
	<link rel = "stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery.desoslide.css' %}">

	<!-- css files -->
	<!-- <link rel="stylesheet" href="css/bootstrap.css"> Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 
	<link rel="stylesheet" href="{%static 'css/font-awesome.css' %}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->
	
	<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
	<!-- web-fonts -->
	<!-- <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet"> -->
	<!-- //web-fonts -->
	
</head>

<body>

<!--Header-->
<header>
	<div class="container agile-banner_nav">
		<div class="row header-top">
			<div class="col-md-5 top-left p-0">
				<p><i class="fa fa-phone" aria-hidden="true"></i> Reach us here : +91 926-532-4087 </p>
			</div>
			<div class="col-md-7 top-right p-0">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Fruit Salad Technologies Pvt. Ltd., Gujarat, India.
			</div>
		</div>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			
			<h1><a class="navbar-brand" href="/planning/home/">ESCAPE PLAN</a></h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/planning/home/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/planning/about/">Meet Our Team</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="services.html">Services</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="/planning/myplans/">My Itineraries </a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/planning/contact/">Get in touch</a>
					</li>
					{%if request.session.username %}
					<li class="nav-item pr-lg-0">
						<div class="btn-group">				
							<button type="button" class="btn btn-outline-light dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 ><b>{{request.session.username}}</b></button>
						
							<div class="dropdown-menu"> 
								<a class="dropdown-item" href="/planning/logout/">Log Out</a> 
								
    
								
								
									
							</div>
						</div>
						
					</li>
					{%else%}
					<li class="nav-item pr-lg-0">
						<div class="btn-group">				
							<button type="button" class="btn btn-outline-light dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 ><b>Sign In</b></button>
						
							<div class="dropdown-menu"> 
								<a class="dropdown-item" href="/planning/login/">Log In</a> 
								<div class="dropdown-divider"></div>
    
								<a class="dropdown-item" href="/planning/signup/">Don't have an account ?</a>
								
									
							</div>
						</div>
						
					</li>
					{%endif%}
				</ul>
			</div>
		  
		</nav>
	</div>
</header>
<!--Header-->
	
		<!-- banner-text -->
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="banner-top">
						<div class="layer">
							<div class="container">
								<div class="banner-info_agile_w3ls">
									<h2>All you need is Love and <span> Passport </span> :) </h2>
									<p>Trvael with no regrets</p>
									<a href="/planning/about/" class="mr-2">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<a href="/planning/contact/">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li>
						<div class="banner-top1">
						<div class="layer">
							<div class="container">
								<div class="banner-info_agile_w3ls">
									<h3>Live life by a <span> Compass</span>.</h3>
									<p>Dream. Explore. Discover.</p>
									<a href="/planning/about/" class="mr-2">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<a href="/planning/contact/">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li>
						<div class="banner-top2">
						<div class="layer">
							<div class="container">
								<div class="banner-info_agile_w3ls">
									<h3>Lets Find Some <span>Beautiful</span> Places</h3>
									<p>Let us cover the Earth </p>
									<a href="/planning/about/" class="mr-2">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<a href="/planning/contact/">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						</div>
					</li>
					<li>
						<div class="banner-top3">
						<div class="layer">
							<div class="container">
								<div class="banner-info_agile_w3ls">
									<h3>Your  <span>Wings</span>already exists</h3>
									<p>All you need to do is FLY</p>
									<a href="/planning/about/" class="mr-2">Read More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<a href="/planning/contact/">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>

			
		<!-- Social Icons -->
		<div class="w3_agileits_social_media">
			<ul>
				<li><a href="/planning/about/" class="wthree_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="/planning/about/" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="/planning/about/" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				<li><a href="/planning/about/" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
			</ul>
		</div>
		<!-- //Social Icons -->
		
			<p class="ab">reach us here</p>
			
		<!-- To bottom button-->
		<div class="thim-click-to-bottom">
			<div class="rotate">
				<a href="#booking" class="scroll">
					<i class="fa fa-ellipsis-v"></i>
				</a>
			</div>
		</div>
		<!-- //To bottom button-->
		</div>
		<!--//Slider-->
		

<!-- booking form -->
<section class="booking py-5" id="booking">
	<h3 class="text-center mb-4">BUILD YOUR PACKAGE</h3>
	<div class="container">
		<div class="book-form">
		   <form action="/planning/trip/" method="post">
			{%csrf_token%}
			<div class="row">
				<div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent">
					<label class="editContent"><span class="fa fa-user" aria-hidden="true"></span>Number of Adults</label>
					<input type="number" name="radius" style="width: 224px; height: 46.4px; background-color: #333333;color: cornsilk; margin: 0px 0px 15px; padding: 10px;" placeholder="Number of Adults" required="">
				</div>
				
				<div class="col-md-3 col-sm-6 col-6 px-2 form-time-w3layouts editContent">
					<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span>Dream Destination</label>
					<input type="text" name="place" style="width: 224px; height: 46.4px; background-color: #333333;color: cornsilk; margin: 0px 0px 15px; padding: 10px;" placeholder="Tour Place" required="">
				</div>
<!-- 				
				
				<div class="col-md-3 col-sm-6 col-6 px-2 form-date-w3-agileits editContent">
						<label class="editContent"><span class="fa fa-map-marker" aria-hidden="true"></span> Tour place</label>
						<select class="form-control" name="place">
							<option>Destination</option>
							<option>London</option>
							<option>Paris</option>
							<option>India</option>
							<option>Japan</option>
							<option>America</option>
							<option>Rajkot</option>
							<option>Delhi</option>
							<option>Mumbai</option>
							<option>Goa</option>
							<option>Mehsana</option>
							<option>Ahmedabad</option>
							<option>Diu</option>
						</select>
				</div> -->
				<div class="col-md-2 col-sm-4 col-6 px-2 form-left-agileits-w3layouts editContent">
						<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span> Trip in</label>
					<div class="agileits_w3layouts_main_gridl">
						<input class="date has Datepicker" id="datepicker" name="startdate" type="text" value="Start Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select Date';}" required="">
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-6 px-2 form-left-agileits-w3layouts editContent">
						<label class="editContent"><span class="fa fa-bus" aria-hidden="true"></span> Trip out</label>
					<div class="agileits_w3layouts_main_gridl">
						<input class="date has Datepicker" id="datepicker1" name="enddate" type="text" value="Return Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select Date';}" required="">
					</div>
				</div>
				
			</div><br>
			<div class="row">
					<div class="col-md-6 col-sm-6 col-6 px-2 form-time-w3layouts editContent">
						<label class="editContent"><span class="fa fa-user" aria-hidden="true"></span> Activity Preferences </label><br/>
					</div><br/><br/>
			</div>
			<div class="row">
					<div class="form-check col-lg-3">
						<input class="form-check-input" type="radio" name="activitypreferences" value="culture" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
						  Culture
						</label>
					</div>
					<div class="form-check col-lg-3">
						<input class="form-check-input" type="radio" name="activitypreferences" value="monument" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
						  Monument
						</label>
				    </div>
					<div class="form-check col-lg-3">
						<input class="form-check-input" type="radio" name="activitypreferences" value="adventure" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
						  Adventure
						</label>
					</div>
					<div class="form-check col-lg-3">
						<input class="form-check-input" type="radio" name="activitypreferences" value="spritual" id="defaultCheck1">
						<label class="form-check-label" for="defaultCheck1">
								Spritual Center
						</label>
					</div>	
			</div>
			<div class="row">
				<div class="form-check col-lg-3">
					<input class="form-check-input" type="radio" name="activitypreferences" value="professional" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
					  Professionals
					</label>
				</div>
				<div class="form-check col-lg-3">
					<input class="form-check-input" type="radio" name="activitypreferences" value="mountain" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
					  Mountain
					</label>
				</div>
				<div class="form-check col-lg-3">
					<input class="form-check-input" type="radio"name="activitypreferences"  value="beach" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
					  Beach
					</label>
				</div>
				<div class="form-check col-lg-3">
					<input class="form-check-input" type="radio" name="activitypreferences" value="museum" id="defaultCheck1">
					<label class="form-check-label" for="defaultCheck1">
						Museum
					</label>
				</div>	
			</div>
			<div class="row" style="justify-content: center;">
				<input type="submit" value="B U I L D" style="padding:8px 15px;text-align: center; width:144px;height:42.4px;color:cornsilk; background-color:#F2994A; margin:34.5px 0px 0px; ">
			</div>
			</form>
		</div>
	</div>
</section>
<!-- //booking form -->

<!-- booking bottom -->	
<section class="bottom py-5">
	<div class="container">
		<div class="row bottom-grids">
			<div class="col-md-6 grid1">
				<h4 class="mb-4">Adventure awaits, go find it</h4>
				<h3 class="mb-4">Dare to live a banjarian life :)</h3>
				<a href="/planning/about">Read More</a>
			</div>
			<div class="col-md-3 video-play">
				<!-- video -->
				<div class="video-grid1 mt-4">
					<div class="demo-bg1">
						<div class="pop-bg position-relative">
							<div class="arrow-container animated fadeInDown">
								<a href="#small-dialog1" title="Click to watch a glimpse of our facilities" class="arrow-2 popup-with-zoom-anim">
									<i class="fa fa-play"></i>
								</a>
								<div class="arrow-1 animated hinge infinite zoomIn"></div>
							</div>
							<h4 class="mt-3" title="Click to watch a glimpse of our facilities">A Glimpse</h4>
							<!--  video-button-popup -->
							<div id="small-dialog1" class="mfp-hide">
								<div class="agileits_modal_body">
									<iframe src="https://player.vimeo.com/video/162413069"></iframe>
								</div>
							</div>
							<!-- // video-button-popup -->
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-3 mt-md-0 mt-4">
				<img src="{%static 'img/off.jpg'%}" alt="" class="img-fluid" />
			</div>
		</div>
	</div>
</section>
<!-- //booking bottom -->	

<!-- welcome -->
<section class="welcome py-5">
	<div class="container py-3">
	<h3 class="heading text-center mb-md-5 mb-4"> Why Us?  </h3>
		<div class="row welcome-grids">
			<div class="col-lg-6">
				<h4 class="mb-3">A more rewarding way to travel.</h4>
				<h3>Let us be your passport to the outer world </h3>
				<p class="my-4">
					We've all been there. For that one fun trip, we plan for months on end. Where do we go? Who's coming? How do we go? When? 
					How often is that plan going to change before someone loses his or her mind? Travel logistics can become a long, drawn-out horror story... unless you're on Escape Plan, 
					in which case it’s a ten-minute task. Escape Plan is an innovative trip planning platform that enables users to plan trips from over 90000 cities across the world. 
					Escape Plan’s trip planning platform serves as a one-stop destination for all the travel needs- exploring attractions, creating itineraries and booking hotels, 
					transportation, and tours.
				</p>
				<a href="/planning/about">Read More</a>
			</div>
			<div class="col-lg-6 mt-lg-0 mt-5 welcome-grid3">
				<div class="position">
					<img src="{%static 'img/bkg3.jpg'%}" alt="" class="img-fluid" />
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //welcome -->

<!-- /services -->
<section class="featured_services py-5">
	<div class="container py-3">
		<h3 class="heading text-center mb-5">Our Services</h3>
		<div class="row agile_inner_info">
			<div class="col-lg-4 col-md-6 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="{%static 'img/g1.jpg'%}" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-globe" aria-hidden="true"></i>
					</div>
				</div>
				<h4>Hassle free Holidays</h4>
				<p>Leave the burden of planning on us. Pull up your trousers and pack your bag. We are here for you !  </p>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="{%static 'img/g5.jpg'%}" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-suitcase" aria-hidden="true"></i>
					</div>
				</div>
				<h4>Well Designed Itineraries</h4>
				<p> A perfect place to build custom itineraries using our experience and your choices ! </p>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-5 w3_agile_services_grid">
				<div class="agile_services_grid">
					<div class="hover06 column">
						<div>
							<figure><img src="{%static 'img/g3.jpg'%}" alt=" " class="img-responsive"></figure>
						</div>
					</div>
					<div class="agile_services_grid_pos">
						<i class="fa fa-bed" aria-hidden="true"></i>
					</div>
				</div>
				<h4>24 X 7 Travel Assistance</h4>
				<p> Light is faster, But we are safer. Contact us anytime on the given contacts and we are always ready to catch up. </p>
			</div>
			<!-- <div class="mx-auto mt-lg-4 mt-5 text-center">
				<a href="services.html">Explore all Services</a>
			</div> -->
		</div>
	</div>
</section>
<!-- //services -->

<!--/middle-->
<section class="middle-sec-agileinfo-w3ls py-5">
	<div class="container py-3">
		<h3 class="heading text-center mb-5"> Famous Tourist Destinations </h3>
			<div class="row inner-sec">
				<div class="col-lg-4 col-md-6 news-left">
					<ul id="demo1_thumbs" class="list-inline">
						<li>
							<a href="{%static 'img/rio.jpg'%}">
								<img src="{%static 'img/rio.jpg'%}" alt="" data-desoslide-caption="<h3>Rio De Jenario</h3>">
								<div class="mid-text-info">
									<h4>Rio De Jenario</h4>
									<!-- <p class="font-italic">posted 2 days ago </p> -->
								</div>
							</a>
						</li>
						<li>
							<a href="{%static 'img/taj.jpg'%}">
								<img src="{%static 'img/taj.jpg'%}" alt="" data-desoslide-caption="<h3>Taj Mahal, Agra</h3>">
								<div class="mid-text-info">
									<h4>Taj Mahal, Agra, India</h4>
									<!-- <p class="font-italic">posted 2 days ago </p> -->
								</div>
							</a>
						</li>
						<li>
							<a href="{% static 'img/g3.jpg'%}">
								<img src="{%static 'img/g3.jpg'%}" alt="" data-desoslide-caption="<h3>London, United Kingdom </h3>">
								<div class="mid-text-info">
									<h4>London, United Kingdom</h4>
									<!-- <p class="font-italic">posted 2 days ago </p> -->
								</div>
							</a>
						</li>
						<li>
							<a href="{%static 'img/g1.jpg'%}">
								<img src="{%static 'img/g1.jpg'%}" alt="" data-desoslide-caption="<h3>Paris, France</h3>">
								<div class="mid-text-info">
									<h4>Paris, France</h4>
									<!-- <p class="font-italic">posted 2 days ago </p> -->
								</div>
							</a>
						</li>
						<li>
							<a href="{% static 'img/s6.jpg'%}">
								<img src="{%static 'img/s6.jpg'%}" alt="" data-desoslide-caption="<h3>Casino City, Las Vegas</h3>">
								<div class="mid-text-info">
									<h4>Las Vegas, Casino City</h4>
									<!-- <p class="font-italic">posted 2 days ago </p> -->
								</div>
							</a>
						</li>
						
					</ul>
				</div>
				<div id="demo1_main_image" class="col-lg-8 col-md-6 news-right">
					<h4 class="text-uppercase mb-4">Happy Travelling </h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

	</section>
	<!--//middle-->

<!-- team -->
	<div class="team py-5">
	   <div class="agile_dot_info two">
		<div class="container">
		<h3 class="heading text-center mb-5">Meet Our Professionals</h3>
			<div class="row agileits_team_grids">
				<div class="col-lg-4 col-sm-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{%static 'img/b1.jpg'%}" alt=" " class="img-responsive" />
					</div>
					<!-- <div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div> -->
					<div class="clearfix"> </div>
					<h4> Viral Gajera <br><span>Chief Executive Officer</span></h4>
					<p>Specilised Data Science Engineer </p>
				</div>
				<div class="col-lg-4 col-sm-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{%static 'img/mehalf.jpg'%}" alt=" " class="img-responsive" />
					</div>
					<!-- <div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div> -->
					<div class="clearfix"> </div>
					<h4>Dhairya Acharya <br><span>Chief Technical Officer</span></h4>
					<p>Dev-Ops Engineer with specialization in Cloud Technologies</p>
				</div>
				<div class="col-lg-4 col-sm-4 agileits_team_grid">
					<div class="agileits_team_grid_figure">
						<img src="{%static 'img/dipesh.jpeg'%}" alt=" " class="img-responsive" />
					</div>
					<!-- <div class="agileits_team_grid_figure_social">
						<ul class="w3ls_social">
							<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div> -->
					<div class="clearfix"> </div>
					<h4>Dipesh Darji <br> <span>Chief Information & Security Officer</span></h4>
					<p>Cyber Security Consultant, Specilised in Cyber Security with AI</p>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- //team -->
	
<!-- footer -->
<footer class="py-5">
	<div class="container py-md-3">
		<div class="row footer-grids pb-md-5 pb-3">	
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-phone"></i>+91 926 532 4087</a>
			</div>
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-envelope"></i>fstech@gmail.com</a>
			</div>
			<!-- <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-skype"></i>Skype Call</a>
			</div> -->
			<div class="col-md-4 col-sm-4 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-comment"></i>Talk In-Person</a>
			</div>
		</div>
		
		<div class="subscribe-grid text-center">
			<p class="para three mt-4"> Everyone has a dream place to visit once in life, and many get the chance to fulfill their dream trip. 
				Give us the oppurtunity to check your Bucket List one after another, and your soul will be satisfied. </p>
			<h5>Even hell is worth a visit ;</h5>
			<p>Time to get away</p>
			
		</div>
	</div>
</footer>
<!-- //footer -->
<section class="copyright py-4 text-center">
	<div class="container">
		<p>Copyright © 2020 Escape Plan. All Rights Reserved | Design by <a href="#" target="=_blank"> Fruit Salad Technologies Pvt. Ltd. </a></p>
	</div>
</section>



<!-- js-scripts -->		

	<!-- js -->
	<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
	<!-- //js -->
	
	<!-- desoslide-JavaScript -->
	<script src="{%static 'js/jquery.desoslide.js'%}"></script>
	<script>
		$('#demo1_thumbs').desoSlide({
			main: {
				container: '#demo1_main_image',
				cssClass: 'img-responsive'
			},
			effect: 'sideFade',
			caption: true
		});
	</script>

	<!-- Calendar -->
		<script src="{%static 'js/jquery-ui.js'%}"></script>
		<script>
			$(function() {
				$( "#datepicker,#datepicker1" ).datepicker();
			});
		</script>
	<!-- //Calendar -->
	
	<!-- banner slider -->
	<script src="{%static 'js/responsiveslides.min.js'%}"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- //banner slider -->
	
	<!--pop-up-box -->
	<script src="{%static 'js/jquery.magnific-popup.js'%}"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});
		});
	</script>
	<!-- //pop-up-box -->

	<!-- start-smoth-scrolling -->
	<script src="{%static 'js/SmoothScroll.min.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/move-top.js'%}"></script>
	<script type="text/javascript" src="{%static 'js/easing.js'%}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
	</script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- start-smoth-scrolling -->
	
<!-- //js-scripts -->

</body>
</html>