<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	
  <title>Trip Planner</title>
  <script src =  "https://maps.googleapis.com/maps/api/js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    

<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 

      <script type="text/javascript">
	  var deleteplacelist = new Array();
	  var addplacelist = new Array();
         function loadMap() {
			
			console.log()
			
			console.log()
            var mapOptions = {
               center:new google.maps.LatLng(19.373341, 78.662109),
               zoom:7
            }
			
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
			{% for obj in objects.response.groups.0.items %}
			
            var marker = new google.maps.Marker({
               position: new google.maps.LatLng({{obj.venue.location.lat}},{{obj.venue.location.lng}}),
               map: map,
            });
			{% endfor %}
         }
		 
		 function Description(i)
		 {
			{% for i in list %}
				console.log(" i : ",{{list.i}});
			{% endfor %}
		
		 }

		 function ShowList()
		 {
				//To assign the deleteplacelist
				document.getElementById('deleteplacelist').value = deleteplacelist.toString();
				document.getElementById('addplacelist').value = addplacelist.toString();
		 }
		
		
		</script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
    <nav class="navbar navbar-expand-sm navbar-dark " style="height: 275px; background-image: url('/static/img/banner1.jpg'); background-repeat: no-repeat; background-size:cover;overflow: hidden; background-position: center; " >
      <!-- <img src="banner1.jpg" style=" width: 100%; background-repeat: no-repeat; background-size:cover;overflow: hidden; background-position: center; ">   -->
      <a class="navbar-brand" href="#" style="padding-left:15px;">
        <img src="{%static 'img/logo.png'%}" alt="EP" style="width:100px;height: 80px;">
        </a>
        <h3 class="myglow" >
          <b>ESCAPE</b> PLAN
        </h3>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
           <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
    
            </ul>
    
        </div>
    </nav>
  
<!-- niche wala( blue ) header starts -->


<nav class="navbar navbar-expand-sm  justify-content-center sticky-top"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:70px; background-color:white;">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse justify-content-center" id="navb" >
        <ul class="navbar-nav " style="margin-top:0px;">
            

            <li class="nav-item " style="padding-left:35px;padding-top:40px;">
                <a class="nav-link" href="/planning/home/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b>HOME</b></a>
            </li>
            <li class="nav-item" style="padding-left:35px;padding-top:40px;">
                <a  class="nav-link" href="/planning/myplans/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b> MY ITINERARIES </b></a>
            </li>
            

            <a class="navbar-brand" href="#" style="padding-left:50px;">
              <img src="{%static 'img/logo.png'%}" alt="EP" style="width:100px;height: 80px;">
            </a>

            <li class="nav-item" style="padding-left:26px;padding-top:40px;">
                <a class="nav-link" href="/planning/about/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b>MEET OUR TEAM</b></a>
            </li>
            <li class="nav-item" style="padding-left:35px;padding-top:40px;">
                <a class="nav-link" href="/planning/contact/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b>GET IN TOUCH</b></a>
            </li>
        </ul>
    </div>
    {% if request.session.username %}
	<ul class="navbar-nav"  style="left:0;">
      <li class="nav-item" id="signin" style="display: inline;">
          <div class="btn-group" >				
            <button type="button" class="btn btn-outline-dark dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        ><b>{{request.session.username}}</b></button>
      
          <div class="dropdown-menu pull-left"> 
          <a class="dropdown-item" href="/planning/myaccount/">View Profile</a> 
          <a class="dropdown-item" href="/planning/myplans/">My Plans</a> 
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/planning/logout/">Logout</a> 
          </div>
        </div>
      </li>
    </ul>
	{% else %}
	<ul class="navbar-nav">
        
        <li class="nav-item" id="signin" style="display: inline;">
          <div class="btn-group">				
					  <button type="button" class="btn btn-outline-dark dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
							 ><b>Sign In</b></button>
						
					<div class="dropdown-menu"> 
					<a class="dropdown-item" href="/planning/login/">Log In</a> 
					<div class="dropdown-divider"></div>

					  <a class="dropdown-item" href="/planning/signup/">Don't have an account ?</a> 
					</div>
				  </div>
        </li>
    </ul>
	{% endif %}
    

</nav>



<div class="container" style="margin-top:50px;text-align: center;">
        <div style="margin: 50px;">
            <h2><i class="fa fa-user" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;My Plans</h2>
        </div>
</div>

<div class="container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin-bottom: 50px; background-color: black; color:white;">
    
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills nav-justified" role="tablist">
      
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#upcoming">My Upcoming Trips</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#current">Ongoing Trip Itinerary</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#past">Past Trips</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="current" class="container tab-pane fade parallax" style="color: black; margin-bottom: 50px;padding-bottom: 50px;"><br>
        <h3 class="myglow">Ongoing Trip Itinerary</h3>
        {%for obj in current%}
		<div class="row" style=" margin:50px; border:3px solid grey; background-color: white;">
		
            <div class="mine-row" id="ongoing{{forloop.counter}}" style="margin-top:0px;">
                
                <div class="column3">
                    <div class="wine-text-container" style="text-align: center;">
                        
                        <!-- <button class="btn-primary" onClick="delete_place({{forloop.counter}})">DELETE</button> -->
                            
                             <h3><div class="mybold_text">{{obj.pack_days}} days in {{obj.city}}</div></h3><br>
                          <h4><div class="mybold_text">{{obj.start_date}} - {{obj.end_date}}</div></h4>
                            
                            <br>
                            <div class="row" style="text-align: center; margin-left: 100px;">
                            <button  class="mydisabled" title="You cannot do this now" style="width: 200px;color:whitesmoke; background-color:darkred;" disabled>  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Reschedule trip </button>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <form action="/planning/viewitin/" method="post">
							<input type="hidden" name="city" value='{{obj.city}}'>
							<input type="hidden" name="packdays" value='{{obj.pack_days}}'>
							<input type="hidden" name="start" value='{{obj.start_date}}'>
							<input type="hidden" name="end" value='{{obj.end_date}}'>
							<input type="hidden" name="category" value='{{obj.category}}'>
							<input type="hidden" name="radius" value='{{obj.radius}}'>
							
							<input type="hidden" name="uname" value='{{request.session.username}}'>
							<button id="edit" title="See Trip Plan" style="width: 200px;">  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; See Itinerary > 
                            </button>
							</form>
                            </div>
                    </div>
                </div>	

                <div class="column4" >
                    <button id="del" title="Delete the plan for this upcoming trip !" onClick="delete_place({{forloop.counter}})"><i class="fa fa-trash"  ></i></button>
                     <!-- <button id="edit" title="Reschedule this trip " >  <i class="fa fa-pencil" aria-hidden="true"></i>  </button> -->
                </div>

            </div>
                
        </div>
{%endfor%}
        <br><br>
      </div>

      <div id="upcoming" class="container tab-pane active parallax" style="color: black; margin-bottom: 50px;padding-bottom: 50px;"><br>
        <h3 class="myglow">Upcoming Trips</h3>
            <br><br>
{% for obj in upcoming %}
            <div class="row" style=" margin:50px; border:3px solid grey; background-color: white;">
		
                <div class="mine-row" id="mr{{forloop.counter}}" style="margin-top:0px;">
                    
                    <div class="column3">
                        <div class="wine-text-container" style="text-align: center;">
                            
                            <!-- <button class="btn-primary" onClick="delete_place({{forloop.counter}})">DELETE</button> -->
                                
                                 <h3><div class="mybold_text">{{obj.pack_days}} days in {{obj.city}}</div></h3><br>
                          <h4><div class="mybold_text">{{obj.start_date}} - {{obj.end_date}}</div></h4>
                                
                                <br>
                                <div class="row" style="text-align: center; margin-left: 100px;">
                                <button id="edit" title="Reschedule this trip" style="width: 200px;">  <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Reschedule trip </button>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <form action="/planning/viewitin/" method="post">
							<input type="hidden" name="city" value='{{obj.city}}'>
							<input type="hidden" name="packdays" value='{{obj.pack_days}}'>
							<input type="hidden" name="start" value='{{obj.start_date}}'>
							<input type="hidden" name="end" value='{{obj.end_date}}'>
							<input type="hidden" name="category" value='{{obj.category}}'>
							<input type="hidden" name="radius" value='{{obj.radius}}'>
							
							<input type="hidden" name="uname" value='{{request.session.username}}'>
							<button id="edit" title="See Trip Plan" style="width: 200px;">  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; See Itinerary > 
                            </button>
							</form>
							</div>
                        </div>
                    </div>	
    
                    <div class="column4" >
                        <button id="del" title="Delete the plan for this upcoming trip !" onClick="delete_place({{forloop.counter}})"><i class="fa fa-trash"  ></i></button>
                         <!-- <button id="edit" title="Reschedule this trip " >  <i class="fa fa-pencil" aria-hidden="true"></i>  </button> -->
                    </div>
    
                </div>
                    
            </div>
{%endfor%}
        
      </div>

      <div id="past" class="container tab-pane fade parallax" style="color: black; margin-bottom: 50px;padding-bottom: 50px;" ><br>
        <h3 class="myglow">Past Trips</h3>
        {% for obj in pasttrips %}
        <div class="row" style=" margin:50px; border:3px solid grey; background-color: white;">
		
          <div class="mine-row" id="mr{{forloop.counter}}" style="margin-top:0px;">
              
			 
			  
              <div class="column3">
                  <div class="wine-text-container" style="text-align: center;">
                      
                      <!-- <button class="btn-primary" onClick="delete_place({{forloop.counter}})">DELETE</button> -->
                          
                          <h3><div class="mybold_text">{{obj.pack_days}} days in {{obj.city}}</div></h3><br>
                          <h4><div class="mybold_text">{{obj.start_date}} - {{obj.end_date}}</div></h4>
                          
                          <br>
                          <div class="row" style="text-align: center; margin-left: 100px;">
                          <button id="edit" title="Delete this plan from history" style="width: 300px;">  <i class="fa fa-trash"  ></i> &nbsp;&nbsp;&nbsp; Delete this Itinerary </button>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                         <form action="/planning/viewitin/" method="post">
							<input type="hidden" name="city" value='{{obj.city}}'>
							<input type="hidden" name="packdays" value='{{obj.pack_days}}'>
							<input type="hidden" name="start" value='{{obj.start_date}}'>
							<input type="hidden" name="end" value='{{obj.end_date}}'>
							<input type="hidden" name="category" value='{{obj.category}}'>
							<input type="hidden" name="radius" value='{{obj.radius}}'>
							<input type="hidden" name="uname" value='{{request.session.username}}'>
							<button id="edit" title="See Trip Plan" style="width: 200px;">  <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; See Itinerary > 
                            </button>
						</form>
                          </div>
                  </div>
              </div>	

              <div class="column4" >
                  <!-- <button id="del" title="Delete the plan for this upcoming trip !" onClick="delete_place({{forloop.counter}})"><i class="fa fa-trash"  ></i></button> -->
                   <!-- <button id="edit" title="Reschedule this trip " >  <i class="fa fa-pencil" aria-hidden="true"></i>  </button> -->
              </div>

          </div>
              
      </div>
	{%endfor%}
      


      </div>

    </div>


  </div><!--CONTAINER DIV ENDS HERE -shadow vadu-->
  

<!-- footer -->
<footer class="py-5">
	<div class="container py-md-3">
		<div class="row footer-grids pb-md-5 pb-3">	
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-phone"></i>+91 926 532 4087</a>
			</div>
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-envelope"></i>fstech@gmail.com</a>
			</div>
			<!-- <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-skype"></i>Skype Call</a>
			</div> -->
			<div class="col-md-4 col-sm-4 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-comment"></i>Talk In-Person</a>
			</div>
		</div>
		
		<div class="subscribe-grid text-center">
			<p class="para three mt-4"> Everyone has a dream place to visit once in life, and many get the chance to fulfill their dream trip. 
				Give us the oppurtunity to check your Bucket List one after another, and your soul will be satisfied. </p>
			<h5>Even hell is worth a visit ;</h5>
			<p>Time to get away</p>
			
		</div>
	</div>
</footer>
<!-- //footer -->
<section class="copyright py-4 text-center">
	<div class="container">
		<p>Copyright © 2020 Escape Plan. All Rights Reserved | Design by <a href="#" target="=_blank"> Fruit Salad Technologies Pvt. Ltd. </a></p>
	</div>
</section>




</body>
<style>


  .con{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  }

  .myglow{
    color: white; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    color:white ; 
    text-shadow: 0px 0px 10px #ffa31a; 
    padding-top: 15px; 
    font-weight: 900; 
  }
  .patti{
    border:2px solid black;
  }

  .parallax {
  /* The image used */
  background-image: url("/static/img/bkg4.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    /* Trash Button mate */
#del {
	
    background-color: black;
    width:50px;
      
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #del:hover {
    background-color: white;
    color:black;
    border:2px solid black;
  }

  #edit {
	width:300px;
  background-color: black;
  /* width:50px; */
    
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border:2px solid black;
}

#edit:hover {
  background-color: white;
  color:black;
  border:2px solid black;
}

.mydisabled{
    background-color:grey;
}

  /* position of trash button maate */
  
  .column1 {
    float: left;
    width: 5%;
    padding: 10px;
    
  }
  .column2 {
    float: left;
    width: 0%;
    padding: 10px;
    text-align:center;
    
  }
  .column3 {
    float: left;
    width: 85%;
    padding: 10px;
    margin-left:20px;
  }
  .column4 {
    float: left;
    width: 10%;
    padding: 10px;
    
  }
  /* General bold text*/ 
  .mybold-text{
      font-family:"verdana";
      font-size: 22px;
  }
  
  
  .mine-row {
  display: flex;
  flex-direction: row;
  width:90%;
  
  padding: 10px 0;
  margin: 25px auto;;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.wine-text-container {
	z-index:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding:20px;
}
img {
  margin-top:30px;
  margin-bottom:30px;
  margin-right:10px;
  margin-left: 5px;
  width:250px;

  /* height: 150px; */
}
  
</style>
</html>