<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
<script src =  "https://maps.googleapis.com/maps/api/js"></script>
      
      <script type="text/javascript">
         function loadMap() {
	
			console.log()
			
			console.log()
            var mapOptions = {
               center:new google.maps.LatLng(19.373341, 78.662109),
               zoom:7
            }
			
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
			{% for obj in objects.response.groups.0.items %}
			
            var marker = new google.maps.Marker({
               position: new google.maps.LatLng({{obj.venue.location.lat}},{{obj.venue.location.lng}}),
               map: map,
            });
			{% endfor %}
         }
      </script>
      
</head>

<body >
<button onClick= "loadMap()" name="map" value="map"></button>
<div id = "sample" style = "width:580px; height:400px;"></div>
<table border=1>
<tr><th>Name of Place</th><th>Distance From the Location</th><th>longitude</th><th>lattitude</th></tr>
{% for obj in img %}
	
    <tr>
		<td>{{ obj }}</td>
		<td>{{ forloop.counter0 }}</td>
		<td><!--{{obj.venue.location.lng}}--></td>
		<td><!--{{obj.venue.location.lat}}--></td>
	</tr>
	
{% endfor %}
</table>
</body>

</html>
