<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	
  <title>Trip Planner</title>
  <script src =  "https://maps.googleapis.com/maps/api/js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" /> <!-- Style-CSS --> 

      <script type="text/javascript">

         function loadMap(start,end) {

			

            var mapOptions = {
               center:new google.maps.LatLng({{focuslnt}}, {{focuslng}}),
               zoom:13
            }
			
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
			{% for obj in OptimizedItinerary %}
				//console.log({{forloop.counter}});
				var counter = {{forloop.counter}};
				if(counter >= start && counter <= end)
				{
					var marker = new google.maps.Marker({
					position: new google.maps.LatLng({{obj.p_lat}},{{obj.p_long}}),
					map: map,});
				}
			{% endfor %}
         }
		 
		 var count = 0;
		 
		 const months = ["Jan", "Feb", "March","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
		 function writeDate(r)
		 {
				console.log("{{istart}}");
				var currentdate = new Date("{{istart}}");
				var nowdate = new Date();
				nowdate.setDate(currentdate.getDate() + count);
				count = count + 1;
				document.getElementById("dot"+r).innerHTML = nowdate.getDate().toString()+ " " +months[nowdate.getMonth()]; 
		 }
		 
		
		</script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body >


    <nav class="navbar navbar-expand-sm navbar-dark " style="height: 275px; background-image: url('/static/img/banner1.jpg'); background-repeat: no-repeat; background-size:cover;overflow: hidden; background-position: center; ">
        <a class="navbar-brand" href="#" style="padding-left:15px;">
            <img src="{%static 'img/logo.png'%}" alt="EP" style="width:100px;height: 80px;">
        </a>
        <h3 style="color: white; font-family:Verdana, Geneva, Tahoma, sans-serif; color: white; text-shadow: 5px 4px 10px #ffa31a; padding-top: 15px; font-weight: 900; ">
          <b>ESCAPE</b> PLAN
        </h3>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
           <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navb">
            <ul class="navbar-nav mr-auto">
    
            </ul>
    <!-- 
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-sm btn-outline-light" type="button"><i class='fa fa-search'
                        aria-hidden='true'></i> &nbsp;<b>SEARCH</b></button>
            </form> -->
        </div>
    </nav>
    
    <!-- niche wala( blue ) header starts -->
    
    
    <nav class="navbar navbar-expand-sm  justify-content-center sticky-top"  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height:70px; background-color:white;">
    
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        
        <div class="collapse navbar-collapse justify-content-center" id="navb" >
          <ul class="navbar-nav " style="margin-top:0px; ">
              
    
              <li class="nav-item " style="padding-left:35px;padding-top:10px;">
                  <a class="nav-link" href="/planning/home/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style="line-height: 55px;color:#ffa31a;cursor: pointer; "><b>HOME</b></a>
              </li>
              <li class="nav-item" style="padding-left:35px;padding-top:10px;">
                  <a  class="nav-link" href="/planning/myplans/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b> MY ITINERARIES </b></a>
              </li>
              
    
              <a class="navbar-brand" href="#" style="padding-left:50px;">
                  <img src="{%static 'img/logo.png'%}" alt="EP" style="width:100px;height: 80px;">
              </a>
    
              <li class="nav-item" style="padding-left:26px;padding-top:10px;">
                  <a class="nav-link" href="/planning/about/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b>MEET OUR TEAM</b></a>
              </li>
              <li class="nav-item" style="padding-left:35px;padding-top:10px;">
                  <a class="nav-link" href="/planning/contact/" onmouseover ="this.style.color='black'" onmouseout ="this.style.color='#ffa31a'"   style=" line-height: 55px; color:#ffa31a;cursor: pointer; "><b>GET IN TOUCH</b></a>
              </li>
          </ul>
      </div>
        {% if request.session.username %}
        <ul class="navbar-nav"  style="left:0;">
          <li class="nav-item" id="signin" style="display: inline;">
              <div class="btn-group" >				
                <button type="button" class="btn btn-outline-dark dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            ><b>{{request.session.username}}</b></button>
          
              <div class="dropdown-menu pull-left"> 
              <a class="dropdown-item" href="/planning/myaccount/">View Profile</a> 
              <a class="dropdown-item" href="/planning/myplans/">My Plans</a> 
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/planning/logout/">Logout</a> 
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav">
            
            <li class="nav-item" id="signin" style="display: inline;">
              <div class="btn-group">				
                          <button type="button" class="btn btn-outline-dark dropdown-toggle" style="margin-top:5px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 ><b>Sign In</b></button>
                            
                        <div class="dropdown-menu"> 
                        <a class="dropdown-item" href="/planning/login/">Log In</a> 
                        <div class="dropdown-divider"></div>
    
                          <a class="dropdown-item" href="/planning/signup/">Don't have an account ?</a> 
                        </div>
                      </div>
            </li>
        </ul>
        {% endif %}
        
    
    
    </nav>
<script>
$(document).ready(function(){
		$("#flip").click(function(){
			$("#panel").slideToggle("slow");
			$(this).css({"background-color":"black","color":"white"})
		});
		});
$(document).ready(function(){
	$("#custom").click(function(){
		$(".column4").show();
		$("#build").show();
	});	
});

$(document).ready(function(){
	$("#build").click(function(){
		$(".column4").hide();
		$("#build").hide();
	});	
});
</script>
<script>
$(document).ready(function(){

    $("#dbd").click(function(){
        $("#schedule1").text("Day by Day");
    });
    
    $("#smap").click(function(){
        $("#schedule1").text("Show Place os Map");
    });

});
</script>

    <div class="container" >
    <br><br>

        <form action="planning/deletefunction/" method="post">
        <div  class="mybold-text" ><b>&nbsp;&nbsp;&nbsp;{{pack_days}} days in {{city}}</b></div>
        {%csrf_token%}
        
        <button id="build" onClick= "ShowList()" name="show" value="show" class="btn btn-sm btn-outline-light" style="display:none; float:right;"> Build New Customized Itinenary </button>
            <input type="hidden" name="customizedlist" id = "customizedlist" value='{{mainlist}}'>
        <input type="hidden" name="deleteplacelist" id = "deleteplacelist"  value="fruitsalad">
        <input type="hidden" name="addplacelist" id="addplacelist" value="fruitsalad">

      </form>
      
    </div>

    <div id="panel" style="text-align:center;">
        <button class="btn btn-dark"> Save This Itinerary </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-dark"> Download This Itinerary </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-dark" id="custom"> Customize This Itinerary </button>&nbsp;&nbsp;&nbsp;
    </div>
    <br><br>


    <div   style="text-align:center; padding-bottom:50px;">
    <button style="text-align:center;" type="button" id="schedule" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
       <i class="fa fa-check"  aria-hidden="true"></i> <b><span id="schedule1" class="selection">Day By Day Plan</span><span class="caret"></span></b>
    </button>
	
	
    <ul class="dropdown-menu"  role="menu" style="text-align:center; padding-bottom:15px;" >
        <li style="padding-bottom:3px;"> <form action="/planning/tripmap/" method="post">
			
		<input type="hidden" name="city" value='{{city}}'>
		<input type="hidden" name="end" value='{{end}}'>
		<input type="hidden" name="start" value='{{start}}'>
		<input type="hidden" name="category" value='{{category}}'>
		<input type="hidden" name="radius" value='{{radius}}'>
		<button class="btn btn-default  btn-outline-light menuitems ">Day by Day plan</button>
		  </form></li>
        <li style="padding-bottom:3px;"> <a href="/planning/showmap/" class="btn btn-default  btn-outline-light menuitems" id="smap"> Show Places on Map </a></li>
        <!-- <li style="padding:3px;"> <a href="#" class="btn btn-default  btn-outline-light menuitems"> place 3 </a></li> -->
    </ul>
    </div>

<div style="text-align:center;padding-top:80px; ">
  <span class="mybold-text"> <b>JOURNEY DATE : </b> <br> <br></span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  {% for i in pack_days_string %}
        <b> <span class="dot" id="dot{{forloop.counter}}" onClick= "loadMap({{forloop.counter0}}*5 + 1,{{forloop.counter}}*5)" ></span> </b>
		<script>
			writeDate({{forloop.counter}})
		</script>
  {% endfor %}
  
</div>

    <div id = "sample" style = "width:1000px; height:500px;"><button onClick= "loadMap()" name="map" value="map"></button></div>
    



<!-- footer -->
<footer class="py-5">
	<div class="container py-md-3">
		<div class="row footer-grids pb-md-5 pb-3">	
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-phone"></i>+91 926 532 4087</a>
			</div>
			<div class="col-md-4 col-sm-4 col-6">
				<a href="#"> <i class="fa fa-envelope"></i>fstech@gmail.com</a>
			</div>
			<!-- <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-skype"></i>Skype Call</a>
			</div> -->
			<div class="col-md-4 col-sm-4 col-6 mt-md-0 mt-2">
				<a href="#"> <i class="fa fa-comment"></i>Talk In-Person</a>
			</div>
		</div>
		
		<div class="subscribe-grid text-center">
			<p class="para three mt-4"> Everyone has a dream place to visit once in life, and many get the chance to fulfill their dream trip. 
				Give us the oppurtunity to check your Bucket List one after another, and your soul will be satisfied. </p>
			<h5>Even hell is worth a visit ;</h5>
			<p>Time to get away</p>
			
		</div>
	</div>
</footer>
<!-- //footer -->
<section class="copyright py-4 text-center">
	<div class="container">
		<p>Copyright © 2020 Escape Plan. All Rights Reserved | Design by <a href="#" target="=_blank"> Fruit Salad Technologies Pvt. Ltd. </a></p>
	</div>
</section>

<style>
.dot {
  cursor:pointer;  
  vertical-align:middle;
  height: 30px;
  width: 120px;
  background-color: black;
  color:white;
  margin-right: 10px;  
  border:3px solid black;
  border-radius: 25px;
  display: inline-block;
}
.dot:hover{
    background-color: white;
    color:black;
}

#sample{
  margin:0 auto;
  border: 3px solid grey;
  margin-top:80px;
  width:600px;
  margin-bottom:80px;
  position:relative;
  height:420px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#schedule{
    border-radius: 25px;
    content:justify;
    width:250px;
    height:50px;
    color:white;
    background-color:#ffa31a;
    
}
.menuitems{
    margin-left:25px;
    border-radius: 25px;
    
    content:justify;
    width:200px;
    height:40px;
    border:2px solid #ffa31a;
    color:black;
    background-color:white;
    
}
.menuitems:hover{
    border:2px solid #ffa31a;
    color:white;
    background-color:#ffa31a;
    
}


    #panel, #flip {
        padding: 5px;
        text-align: left;
        background-color: #000000;
        color:#ffffff;
        border: solid 3px #000000;
        cursor:pointer;
}
#flip:hover{
	cursor:pointer;
	background-color: #2f2f2f;
	color:#ffffff;
    border: solid 3px #000000;
}

.mybold-text{
	font-family:"verdana";
	font-size: 22px;
}

#panel {
    padding: 50px;
    display: none;
    background:#ffad33;
    opacity:0.8;
}

</style>
</body>
</html>